body, html {
    height: 100%;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
}


.main {
    background-image: url("https://lh3.googleusercontent.com/r0eNEVEbvaHYo3LBKZplkQCkVedrlNZF1i4_cSStsdbNqzIe76D4BEvyWm_3H8khGcPJqLNOlnGt7IqhQ07MbVCiiwOgc_hZhf6cQe7oTzknkNHA1eBPsVzZ2RAyzeTXVkQN8OVP_6pOerhFE_0V9lcOkEIXbEWStvU1LCgw6WYsah6tktXkP9jCfnDJa5rZhfn3cfikU70yNyNnltuK4hjvq78_7iHZtzAei22kZKFrXGP37F5G6zMv1Ecy8aSdqo0HWsTWEQvkxWQdQvtZhgc2GC7LnM5GXY-6kTf41SwgoWAVNv9VSxvSVvzfKCNU3GyBfB0aGa-bAW32vjkAxfYerPyiaCgztTBUcSr4ly5tGG5i_mjvJuYro4g4B1eVV_YPL23bscAc6sfpik9LNSs56zeoJaALB58YVKZ308ryGChr4kuc54R4152kueGL3dj6Ujoi44cZxLKcj6pNaW_Z9mydwwHHJMZBELzWw3JFWJMo3WxU4hTUxVBgBp8P7BCrdKh-eC2viGTHclbXCVsp0z3SnXLlQ88b6mJ_dQbY9NBLG5O2UHRtAf9-ioFr6p8ml_g-xNAFqAVzP6Ly3ibYdjXWWtgP9wmOtygqyCOhu77cLEM-xY51MS1jC3v-k7PFjBzPRc_hKS_Bt4LjguTcZMalKzDv0-rd2dWIX0oxWgbJvTn8-7bxSDPh=w438-h657-no?authuser=0");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 30% 100%;
    height: 100vh;
    background-color: black;
    color: #66fcf1;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    top: 0%;
    left: 20%;
    position: absolute;
    z-index: 8;
}
ul {
  list-style-type: none;
  font-weight: bold;
}
li {
  display: inline-block;
  padding: 2rem;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

li a {
  color: #66fcf1;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: flex-end;
    padding-top: 5rem;
    background-color: #000000;
}
 
 .typing {
  width: 58ch;
  animation: typing 6s steps(58), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
 h1 {
     color: white;
     font-family: 'Playfair Display SC', serif;
     font-size: 3rem;
 }
 
 span{
     color: #66fcf1;
 }
 em {
     color: #ffffff;
 }
 strong {
     color: #ffffff;
 }
 #welcome-section>p {
     margin-right: 150px;
     font-size: 1.25rem;
     padding-top: 0px;
 }
 .welcome-button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #1f2833;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 150px;
}
.welcome-button a {
    color: #ffffff;
}

    

  .projects-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 2rem;
    row-gap: .5rem;
    background-color: #1f2833;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 5rem 5rem;
   
}

.procard1 {
  width: 100%;
  height: auto;
  grid-row-start: span 3;
  grid-column-start:1;
  
}
.img1{
    max-width: 100%;
    height: auto;
}
.button2 {
  grid-column-start: 1;
  grid-row-start: 5;
  margin-top: 10px;
}
.btn2 {
  border-radius: 10px;
  background-color: #45a29e;
  width: 200px;
  height: 60px;
  cursor: pointer;
}
.procard2 {
  margin-right: 150px;
  grid-row-start: 2;
  grid-column-start: 2;
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
}
.procard3 {
  grid-column-start: 2;
  grid-row-start: 3;
  align-items: center;
  margin-right: 150px;
  color: #ffffff;
}
.doubled {
  grid-column-start: 2;
  grid-row-start: 6;
  margin-right: 150px;
}


.projects2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  column-gap: 2rem;
  row-gap: .5rem;
  background-color: #1f2833;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 5rem 5rem;
  
}
.procard4 {
  width: 100%;
  height: auto;
  grid-row-start: span 3;
  grid-column-start:1; 
}
.button3 {
  grid-column-start: 1;
  grid-row-start: 5;
  margin-top: 10px;
}
.procard5 {
  margin-right: 150px;
  grid-row-start: 2;
  grid-column-start: 2;
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
}
.procard6 {
  grid-column-start: 2;
  grid-row-start: 3;
  align-items: center;
  margin-right: 150px;
  color:#ffffff;
}
.doubled2 {
  grid-column-start: 2;
  grid-row-start: 6;
  margin-right: 150px;
}
.projects3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  column-gap: 2rem;
  row-gap: .5rem;
  background-color: #1f2833;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 5rem 5rem;
  
}
.procard7 {
  width: 100%;
  height: auto;
  grid-row-start: span 3;
  grid-column-start:1;
  
  
}
.button4 {
  grid-column-start: 1;
  grid-row-start: 6;
  margin-top: 10px;
}
.procard8 {
  margin-right: 150px;
  grid-row-start: 2;
  grid-column-start: 2;
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
}
.procard9 {
  grid-column-start: 2;
  grid-row-start: 3;
  align-items: center;
  margin-right: 150px;
  color: #ffffff;
}
.doubled3 {
  grid-column-start: 2;
  grid-row-start: 6;
  margin-right: 150px;
  color: #ffffff;
} 
.projects4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  column-gap: 2rem;
  row-gap: .5rem;
  background-color: #1f2833;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 5rem 5rem;
  
}
.procard10 {
  width: 100%;
  height: auto;
  grid-row-start: span 3;
  grid-column-start:1;
  
  
}
.button5 {
  grid-column-start: 1;
  grid-row-start: 6;
  margin-top: 10px;
}
.procard11 {
  margin-right: 150px;
  grid-row-start: 2;
  grid-column-start: 2;
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
}
.procard12 {
  grid-column-start: 2;
  grid-row-start: 3;
  align-items: center;
  margin-right: 150px;
  color: #ffffff;
}
.doubled4 {
  grid-column-start: 2;
  grid-row-start: 6;
  color: #ffffff;
  margin-right: 150px;
}  
.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 5rem 2rem;
}

.contact-header {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: 'Playfair Display SC', serif;
    font-size: 4rem;
    color: #66fcf1;
    text-align: center;
}
.github-icon{
    grid-row-start:4;
    grid-column-start: 1;
    color: #66fcf1;
}
.logo{
    color: #ffffff;
}
.twitter{
    grid-row-start:4;
    grid-column-start: 2;
}
.email{
    grid-row-start: 4;
    grid-column-start: 3;
    color: #66fcf1;
}
.email-me{
    color: #ffffff;
}
footer {
  
  border-top: 4px solid #000000;
}

footer > p {
  margin: 2rem;
  color: #000000;
  font-family: 'Playfair Display SC', serif;
  font-weight: bolder;
}

